
      <!-- Main -->
        <div id="main" class="container">

          <div id="featured">

            <div class="row">
              <section class="6u 12u(narrower)">
                <a href="#" class="image"><img src="images/placeholder.png" alt=""></a>
                <h3>Phasellus ultri</h3>
                <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
                <a href="#" class="link2">More<span class="icon fa-plus-circle"></span></a>
              </section>
              <section class="6u 12u(narrower)">
                <a href="#" class="image"><img src="images/placeholder.png" alt=""></a>
                <h3>Aliquam tincid</h3>
                <p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</p>
                <a href="#" class="link2">More<span class="icon fa-plus-circle"></span></a>
              </section>
            </div>

            <div class="row">
              <section class="6u 12u(narrower)">
                <a href="#" class="image"><img src="images/placeholder.png" alt=""></a>
                <h3>Phasellus ultri</h3>
                <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
                <a href="#" class="link2">More<span class="icon fa-plus-circle"></span></a>
              </section>
              <section class="6u 12u(narrower)">
                <a href="#" class="image"><img src="images/placeholder.png" alt=""></a>
                <h3>Aliquam tincid</h3>
                <p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</p>
                <a href="#" class="link2">More<span class="icon fa-plus-circle"></span></a>
              </section>
            </div>

          </div>
          <div id="intro">
            <section>
              <div class="heading">
                <span class="txt1">Fusce pellentesque</span>
                <span class="txt2">Integer vitae libero ac risus egestas placerat</span>
              </div>
            </section>
          </div>

          <div id="extra">
            <div class="row 200%">
              <section class="4u 12u(narrower)">
                <span class="pennant"><span class="icon fa-tint"></span></span>
                <div class="box">
                  <p>Praesent dapibus, neque id fio intion supendibus, tortor neque egestas augu uspendisse urna vulputate magna eros. Aliquam erat volut enean dignissim pellentesque felis</p>
                </div>
                <a href="#" class="link">More Info</a>
              </section>
              <section class="4u 12u(narrower)">
                <span class="pennant"><span class="icon fa-pencil"></span></span>
                <div class="box">
                  <p>Donec nec justo eget felis fafermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim arcuat uspendisse urna pellentesqu, tincidunt quis, accumsan porttitor, facilisis</p>
                </div>
                <a href="#" class="link">More Info</a>
              </section>
              <section class="4u 12u(narrower)">
                <span class="pennant"><span class="icon fa-user"></span></span>
                <div class="box">
                  <p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies ciam nibh, viverra non, semper suscipi uspendisse mitind vulputate simpoem</p>
                </div>
                <a href="#" class="link">More Info</a>
              </section>
            </div>
          </div>

        </div>
