
      <!-- Slider -->
        <div id="slider" class="container">
          <a href="#"><span class="previous-button icon fa-angle-left"></span></a>
          <a href="#"><span class="next-button icon fa-angle-right"></span></a>
          <div class="viewer">
            <div class="reel">
              <div class="slide">
                <span class="pennant"><span class="icon fa-rocket"></span></span>
                <p>Phasellus ultrices nulla quis nibh. Quisque a lectu. Donec consectetuer ligula et vulputate.</p>
                <a href="#" class="links">More</a>
              </div>
              <div class="slide">
                <span class="pennant"><span class="icon fa-cogs"></span></span>
                <p>Etiam neque. Vivamus consequat lorem. Nullam semper eleifend. Donec mattis libero eget urna.</p>
                <a href="#" class="links">More</a>
              </div>
              <div class="slide">
                <span class="pennant"><span class="icon fa-file"></span></span>
                <p>Maecenas pede nisl, elementum eu, ornare ac, malesuada at, erat. Proin gravida orci porttitor.</p>
                <a href="#" class="links">More</a>
              </div>
            </div>
          </div>
        </div>
